.main {
  padding: 107px 112px;

  .metrics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: flex-start;
    gap: 32px;

    .number {
      @include number;
    }

    .text {
      @include text;
    }

    .supportingText {
      @include supportingText;
      font-size: 16px;
    }
  }

  .jobs {
    padding-top: 192px;

    .talents {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 40px;
      text-align: center;

      .subHeading {
        @include subHeading;
        padding: 4px 12px;
        background: rgba(142, 36, 36, 0.05);
        border-radius: 16px;
      }

      .heading {
        @include heading;
        font-size: 36px;
      }

      .supportingText {
        @include supportingText;
      }

      img {
        width: 1310px;
        height: 400px;
      }
    }

    .experienceContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 64px;
      text-align: left;
      gap: 64px;

      .experience {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;

        .text {
          @include text
        }

        .jobPost {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          border: 1px solid $grey-200;
          padding: 20px;
          width: 768px;
          border-radius: 16px;
          gap: 32px;

          .jobDescription {
            display: flex;
            flex-direction: row;
            gap: 24px;

            p {
              @include work
            }
          }
        }
      }
    }
  }

  .comments {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: rgba(196, 25, 25, 0.03);
    width: 90%;
    margin: 96px auto;
    text-align: center;
    padding: 64px;
    gap: 16px;

    .subHeading {
      @include subHeading
    }

    .heading {
      @include heading;
      font-size: 36px;
      font-weight: 500;
      line-height: 44px;
    }

    .text {
      @include text;
      font-size: 16px;
    }

    .supportingText {
      @include supportingText;
      font-size: 14px;
    }
  }
}