.main {
  padding: 107px 112px;

  .metrics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: flex-start;
    gap: 32px;

    .number {
      @include number;
    }

    .text {
      @include text;
    }

    .supportingText {
      @include supportingText;
      font-size: 16px;
    }
  }

  .jobs {
    padding-top: 192px;

    .talents {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 40px;
      text-align: center;

      .subHeading {
        @include subHeading;
        padding: 4px 12px;
        background: rgba(142, 36, 36, 0.05);
        border-radius: 16px;
      }

      .heading {
        @include heading;
        font-size: 36px;
      }

      .supportingText {
        @include supportingText;
      }

      img {
        width: 1310px;
        height: 400px;
      }
    }
  }
}