@media (max-width: 1140px) {
  .main {
    .experienceContainer {
      .experience {
        .jobPost {
          width: 75vh;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .header {
    .navbar {
      position: fixed;
      width: 100%;
      top: 0;

      .links {
        position: fixed;
        left: -100%;
        top: 65px;
        text-align: center;
        flex-direction: column;
        padding: 20px 0;
        width: 100%;
        transition: 0.3s;
        border-radius: 0 0 20px 20px;
        background-color: $grey-900;

        li {
          margin: 4px auto;
        }

        a {
          color: $base-white;

          &:hover {
            color: lighten($hightlight, 10%);
          }
        }

        &.active {
          left: 0;
        }
      }

      .burguer {
        display: block;

        &.active .bar:nth-child(2) {
          opacity: 0;
        }

        &.active .bar:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
        }

        &.active .bar:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
        }
      }

      .navigationActions {
        display: none;
      }
    }

    .about {
      padding-top: 172px;
    }
  }

  .main {
    padding: 107px 80px;

    .metrics {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 840px) {
  .main {
    .experienceContainer {
      .experience {
        .jobPost {
          width: 50vh;
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .main {
    .experienceContainer {
      .experience {
        .jobPost {
          width: 30vh;

          .jobDescription {

            
            p {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .main {
    .metrics {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }
}