.main {
  display: grid;
  grid-template-columns: 780px 320px;
  padding: 24px 153px;
  gap: 32px;

  .profileContainer {
    display: grid;
    grid-template-rows: repeat(2, 230px);
    position: relative;

    .banner {
      width: 100%;
      height: 230px;
      border-radius: 16px 16px;
    }

    .personalProfile {
      display: flex;
      align-items: flex-start;
      background-color: $fundo-card;
      padding: 56px 24px;
      border-radius: 16px 16px;
      gap: 40px;

      .profileInfo {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        .profileImg {
          position: absolute;
          width: 160px;
          height: 160px;
          border-radius: 50%;
          top: 120px;
          border: 4px solid $fundo-card;
        }

        .title {
          @include texto-primario
        }

        .subtitle {
          @include texto-primario;
          font-size: 16px;
          font-weight: 400;
        }

        .extra {
          @include texto-secundario;
          position: relative;

          &::before {
            @include bolinha;
            bottom: 9px;
            left: 178px
          }
        }

        a {
          @include link;
        }
      }

      .profileActions {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 10px;

        .button {
          @include botao;
        }

        .button:nth-child(2) {
          background-color: $fundo-card;
          border: 2px solid $primario;
          color: $primario;

          &:hover {
            background-color: lighten($fundo-card, 10%);
          }
        }
      }
    }

    .careerDetails {
      display: flex;
      align-items: flex-start;
      gap: 5px;

      .company {
        max-width: 32px;
        height: 32px;
      }

      .subtitle {
        @include texto-primario;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }

  .highlights {
    @include container;

    .title {
      @include texto-primario;
      font-size: 20px;
    }

    .cardContainer {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: flex-start;
      gap: 10px;
      margin-top: 8px;

      .card {
        display: flex;
        flex-direction: column;
        border: 1px solid $texto-secundario;
        border-radius: 8px;
        gap: 4px;

        .headerCard {
          padding: 12px 14px 0 14px;

          .textCard {
            @include texto-secundario;
            font-size: 12px
          }

          .titleCard {
            @include texto-primario;
            font-size: 14px;
          }
        }

        .imgCard {
          width: 100%;
          height: 152px;
          border-radius: 0px 8px;
        }
      }
    }
  }

  .activies {
    @include container;

    .title {
      @include texto-primario;
      font-size: 20px;
    }

    .activieLink {
      @include link;
    }

    .postContainer {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-top: 13px;

      .post {
        display: flex;
        flex-direction: column;
        gap: 8px;
        position: relative;

        &::after {
          content: "";
          display: inline-block;
          width: 100%;
          height: 2px;
          background-color: $texto-secundario;
        }

        .textCard {
          @include texto-secundario;
          font-size: 14px;

          span {
            position: relative;

            &::before {
              @include bolinha;
              bottom: 8px;
              right: 42px;
            }
          }
        }

        .textCard:nth-child(2) {
          color: $branco-base;
        }

        img {
          width: 64px;
          height: 64px;
        }
      }
    }

    .show {
      @include texto-secundario;
      text-align: center;
    }
  }

  .about {
    @include container;

    .title {
      @include texto-primario;
      font-size: 20px;
    }

    .textCard {
      @include texto-secundario;
      font-size: 14px;
      color: $branco-base;
    }
  }

  .experience {
    @include container;

    .title {
      @include texto-primario;
      font-size: 20px;
    }

    .titleCard {
      @include texto-primario;
      font-size: 16px;
    }

    .textCard {
      @include texto-secundario
    }

    .job {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding-top: 10px;
      padding-left: 81px;

      .item {
        .title {
          position: relative;
          font-size: 16px;

          &::before {
            position: absolute;
            display: inline-block;
            width: 9px;
            height: 9px;
            content: "";
            background-color: $texto-principal;
            border-radius: 50%;
            top: 12px;
            left: -60px;
          }

          &::after {
            position: absolute;
            display: inline-block;
            width: 50px;
            height: 2px;
            content: "";
            background-color: $texto-secundario;
            top: 55px;
            left: -80px;
            transform: rotate(90deg);
          }
        }

        p {
          font-size: 14px;
        }
      }
    }
  }

  .education {
    @include container;
    gap: 8px;

    .university {
      display: flex;
      align-items: center;
      gap: 8px;

      .title {
        font-size: 16px;
      }

      p {
        font-size: 14px;
      }

      .textCard {
        @include texto-secundario
      }
    }
  }

  .languages {
    @include container;
    gap: 8px;


    .idiomContainer {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 28px;
      position: relative;

      &::after {
        display: inline-block;
        position: absolute;
        content: "";
        width: 732px;
        height: 2px;
        background-color: $texto-secundario;
        bottom: 55px;
        left: 0px;
       }

      .idiom {
        .textCard {
          @include texto-secundario
        }
      }
    }
  }
}

// reuse classes
.reactionCard {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 4px 4px 4px;

  .likeCard {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .likes,
  .comments {
    @include texto-secundario;
    font-size: 12px;
  }

  .comments:hover {
    color: $primario;
  }
}